service/Category/Sub.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:Sub"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="Sub" targetNamespace="urn:Sub" >
    <!--khai báo giá trị các biến (response - request)-->
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Sub">
            <xsd:complexType name="SubResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="process" type="xsd:string"></xsd:element>
                    <xsd:element minOccurs="0" name="message" type="xsd:string"></xsd:element>
                    <xsd:element minOccurs="0" name="code" type="xsd:string"></xsd:element>
                    <xsd:element minOccurs="0" name="data" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="SubRequest">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:string"></xsd:element>
                    <xsd:element name="token" type="xsd:string"></xsd:element>
                    <xsd:element name="data" type="xsd:string"></xsd:element>
                    <xsd:element name="id" type="xsd:string"></xsd:element>
                    <xsd:element name="remove" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="DoSubRequest">
        <wsdl:part type="tns:SubRequest" name="request"/>
    </wsdl:message>
    <wsdl:message name="DoSubResponse">
        <wsdl:part type="tns:SubResponse" name="response"/>
    </wsdl:message>

    <wsdl:portType name="SubPort">
        <wsdl:operation name="Check">
            <wsdl:input message="tns:DoSubRequest"/>
            <wsdl:output message="tns:DoSubResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SubBinding" type="tns:SubPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Check">
            <soap:operation soapAction="urn:SubAction"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:Sub"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:Sub"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Sub">
        <wsdl:port name="SubPort" binding="tns:SubBinding">
            <soap:address location="http://localhost/shoponline/service/Sub/SubController.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>