service/Products/Products.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:Products"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="Products" targetNamespace="urn:Products" >
    <!--khai báo giá trị các biến (response - request)-->
    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Products">
            <xsd:complexType name="ProductsResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="process" type="xsd:string"></xsd:element>
                    <xsd:element minOccurs="0" name="message" type="xsd:string"></xsd:element>
                    <xsd:element minOccurs="0" name="code" type="xsd:string"></xsd:element>
                    <xsd:element minOccurs="0" name="data" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ProductsRequest">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:string"></xsd:element>
                    <xsd:element name="token" type="xsd:string"></xsd:element>
                    <xsd:element name="data" type="xsd:string"></xsd:element>
                    <xsd:element name="id" type="xsd:string"></xsd:element>
                    <xsd:element name="type" type="xsd:string"></xsd:element>
                    <xsd:element name="category_id" type="xsd:string"></xsd:element>
                    <xsd:element name="sub_category_id" type="xsd:string"></xsd:element>
                    <xsd:element name="name" type="xsd:string"></xsd:element>
                    <xsd:element name="remove" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="DoProductsRequest">
        <wsdl:part type="tns:ProductsRequest" name="request"/>
    </wsdl:message>
    <wsdl:message name="DoProductsResponse">
        <wsdl:part type="tns:ProductsResponse" name="response"/>
    </wsdl:message>

    <wsdl:portType name="ProductsPort">
        <wsdl:operation name="Check">
            <wsdl:input message="tns:DoProductsRequest"/>
            <wsdl:output message="tns:DoProductsResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ProductsBinding" type="tns:ProductsPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Check">
            <soap:operation soapAction="urn:ProductsAction"/>
            <wsdl:input>
                <soap:body use="encoded" namespace="urn:Products"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" namespace="urn:Products"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="Products">
        <wsdl:port name="ProductsPort" binding="tns:ProductsBinding">
            <soap:address location="http://localhost/shoponline/service/Products/ProductsController.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>